<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5cfe2bb5-3dd0-4f29-8e0a-b383154483fe" Publisher="CN=v-jb" Version="1.0.0.0" />
  <Properties>
    <DisplayName>LifeInMetro</DisplayName>
    <PublisherDisplayName>v-jb</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LifeInMetro.App">
      <VisualElements DisplayName="Life In Metro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A Metro implementation of Conway's Game of Life" ForegroundText="light" BackgroundColor="#38864D">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>